---
import { places } from '../../utils/places';
import Layout from '../../layouts/Layout.astro';
import Container from '../../components/Container.astro';

export function getStaticPaths() {
  return places.map(({
    name,
    tags,
  }) => {
    const slug = name.toLowerCase();

    return {
      params: { slug },
      props: {
        name,
        tags,
      },
    };
  });
}

const {
  name,
  tags,
} = Astro.props;


---

<Layout title={`Photos of ${name}`}>
  <main>
    <Container>
      <h1>Photos of {name}</h1>
      <p>Looks like there are {tags.length} to choose from...</p>
      <ul>
        {tags.map((tag) => {
          return (
            <li>
              <a href={`/location/${tag}`}>{tag}</a>
            </li>
          )
        })}
      </ul>
    </Container>
  </main>
</Layout>
